p {
  text-align: justify;
}

.quarto-cover-image {
  margin-top: 5px;
  border: 0.5px solid #000000; 
  box-shadow: 1px 2px 1px #c9c7c7;
  max-width: 50%;
  float: left;
  margin-right: 20px;
  margin-left: 0px;
}

.sidebar-navigation {
  padding-left: 10px;
}

.sidebar-menu-container {
  min-width: 247px;
}

div.sidebar-item-container>a>span.menu-text {
  font-weight: bold;
  color: #646464;
}
div.sidebar-item-container>a>span.menu-text:hover, span.menu-text:focus {
  font-weight: bold;
  color: #5063d3;
}

.sidebar-item-section {
  font-weight: bold;
  color: #cecece;
}
ul>li>div>a>span.menu-text>span.chapter-number {
  font-weight: normal;
}
ul>li>div>a>span.menu-text>span.chapter-title {
  font-weight: normal;
}

.sidebar-navigation a {
  color:inherit;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
div.sidebar-item-container:hover, div.sidebar-item-container:focus {
  color: rgba(33, 81, 191, 0.8);
}
.quarto-title {
  content: " ";
  padding-top: 1.5em;
}

.chapter-number::before {
  content: "Bab ";
}
.chapter-number::after {
  content: "";
}

@media(min-width: 992px) {
  #quarto-sidebar {
      display:flex;
      flex-direction: column;
      margin-left: -24px !important;
  }

  .nav-page .nav-page-text,.sidebar-navigation .sidebar-section .sidebar-item {
      font-size: .875rem;
  }

  .sidebar-navigation .sidebar-item {
      font-size: .925rem;
  }

  .sidebar.sidebar-navigation {
      display: block;
      position: sticky;
  }

  .sidebar-search {
      width: 100%;
  }

  .sidebar .sidebar-footer {
      visibility: visible;
  }
}

@media(min-width: 992px) {
  #quarto-sidebar-glass {
      display:none;
  }
}
